html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
.content {
  width: 375px;
  background-color: #f3f3f3;
  position: relative;
  height: 100%;
}

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.chat-area {
  padding-top: 25px;
  padding-bottom: 80px;
  height: 100%;
}

.message-box {
  margin-bottom: 4px;
  background-color: #ffffff;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 20px;
}

.message-box.status {
  background-color: #dcdcdc;
}

.message-box.from-me {
  background-color: #ffdede;
}

.message-box .time {
  color: #aaaaaa;
}

.message-box .username {
  font-weight: bold;
}

.message-input {
  position: fixed;
  height: 80px;
  bottom: 0px;
  display: flex;
  width: 375px;
  background-color: #ffffff;
  justify-content: space-between;
}
