html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

/********************************
  Classes painel lateral
*********************************/
.transparencia {
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  width: 375px;
  height: 100%;
  z-index: 1;
}

.painel-direita {
  width: 258px;
  height: 100%;
  position: fixed;
  left: calc(50% - 70px);
  font-size: 16px;
  z-index: 2;
  background-color: white;
  overflow-y: scroll;
}

.header-painel {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  height: 80px;
}

.header-visibilidade {
  height: 66px;
}

.painel-direita li {
  padding: 8px 8px;
}

.painel-direita li span {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.painel-direita li span ion-icon {
  width: 15%;
}

.painel-direita li span .nome {
  width: 70%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.lista-visibilidade li .nome {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.lista-visibilidade li ion-icon {
  width: 15%;
}

.painel-direita ion-icon {
  font-size: 25px;
  margin-right: 5px;
}

.escondido {
  display: none;
}

.check {
  display: none;
}

.selecionado .check {
  display: inline-block;
  color: #28bb25;
}


/********************************
  classes do conteudo principal
*********************************/

.content {
  width: 375px;
  background-color: #f3f3f3;
  position: relative;
  height: 100%;
}

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 375px;
  height: 80px;
  padding: 16px 21px 11px 22px;
  box-sizing: border-box;
  font-size: 45px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  top: 0;
}

.header ion-icon {
  cursor: pointer;
}

.header img {
  width: 75px;
  height: 53px;
}

.chat-area {
  padding-top: 106px;
  padding-bottom: 106px;
  background-color: #f3f3f3;
}

.message-box {
  margin-bottom: 4px;
  background-color: #ffffff;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 20px;
  overflow-x: hidden;
}

.message-box.private {
  background-color: #ffdede;
}
.message-box.status {
  background-color: #dcdcdc;
}

.message-box.from-me {
  background-color: #ffdede;
}

.message-box .time {
  color: #aaaaaa;
}

.message-box .username {
  font-weight: bold;
}

.message-input {
  position: fixed;
  height: 80px;
  bottom: 0px;
  display: flex;
  width: 375px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.message-input .btn-enviar {
  font-size: 26px;
  width: 20%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-enviar:hover {
  background-color: #f3f3f3;
}

.message-input input {
  width: 80%;
  height: 100%;
  border-width: 0;
}
